<section class="container mx-auto my-8 bg-secondary p-6">
  <div *ngIf="browserAlert == false && removeAlert == false"  class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold">The Upload Section is for Mobile Users currently only useable via Mozilla Firefox </strong>
    <span class="block sm:inline">Please change the Browser</span>
    <span (click)="removeAlert = !removeAlert" class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg  class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
    </span>
  </div>
    <div class="rounded relative flex flex-col">
      <div class="font-bold mb-6">Upload Video</div>
      <app-alert *ngIf="showAlert" [color]="alertColor" >
        {{ alertMsg }}
        <p *ngIf = "showPercentage">
        {{ percentage | percent }}
        </p>
      </app-alert>

      <ng-container>
        <span *ngIf="!ffmpegService.isReady; else uploadEditorCtr"
         class="material-icons text-center text-6xl p-8 animate-spin">
          settings
        </span>
      </ng-container>

      <ng-template #uploadEditorCtr>

      </ng-template>

      <!-- Upload Dropbox -->
      <ng-container  *ngIf="!nextStep; else uploadFormCtr">
        <div app-event-blocker
        (dragend)="isDragover =false"
        (dragover)="isDragover =true"
        (dragenter)="isDragover =true"
        (dragleave)="isDragover =false"
        (mouseleave)="isDragover =false"
        (drop)="storeFile($event)"
        [ngClass] ="{
          'bg-indigo-400 border-indigo-400 broder-solid' : isDragover
        }"
          class="w-full px-10 py-40 rounded text-center cursor-pointer border border-dashed
            border-gray-400 transition duration-500 hover:text-white
            hover:bg-indigo-400 hover:border-indigo-400 hover:border-solid text-xl">
          <h5>Drop your file here (mp4 only!)</h5>
          <span *ngIf="ffmpegService.isRunning" 
          class="material-icons text-center text-6xl p-8 animate-spin">
            autorenew
          </span>
        </div>
      <input type ="file" class="mt-4 hidden" (change)="storeFile($event)"  #fileUpload>
      
      <span class="mt-7">Or Upload your File here:</span>
      <button (click)="fileUpload.click()" class="relative bottom-10 left-44">
        <svg class="" xmlns="http://www.w3.org/2000/svg" height="48" width="48">
          <path d="M22.6 37.9h3V27.85l4.1 4.1 2.1-2.1-7.8-7.6-7.7 7.7 2.1 2.1 4.2-4.2ZM11 44q-1.2 0-2.1-.9Q8 42.2 8 41V7q0-1.2.9-2.1Q9.8 4 11 4h18.05L40 14.95V41q0 1.2-.9 2.1-.9.9-2.1.9Zm16.55-27.7V7H11v34h26V16.3ZM11 7v9.3V7v34V7Z"/>
        </svg>
      </button>

     </ng-container>
      <!-- Video Editor -->
      <ng-template #uploadFormCtr>

        <!-- Form -->
        <form [formGroup]="uploadForm" (ngSubmit) = "uploadFile()" >
          <!-- Screenshots -->
          <h2 class="mb-4 text-xl">Select a Thumbnail</h2>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
            <div *ngFor="let screenshot of screenshots" 
            [ngClass]=" {
              'border-green-400' : screenshot === selectedScreenshot,
              'border-transparent' : screenshot !== selectedScreenshot
            } " (click) ="selectedScreenshot = screenshot"
            class="border-8 cursor-pointer ">
              <img [src]="screenshot | safeURL">
            </div>
           
          </div>

          <!-- Title -->
          <div class="mt-4">
            <label class="block text-xl mb-4">Title</label>
            <app-input [control]="title" placeholder="Enter Title" ></app-input>
          </div>

          <div class="mt-4 text-right">
            <button [disabled]="inSubmission"
            [ngClass]="{
              'opacity-50' : inSubmission,
              'hover:bg-indigo-700' : !inSubmission   
            }"
             type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md text-white bg-indigo-600 focus:outline-none">
              Publish
            </button>
          </div>
        </form>
      </ng-template>
    </div>
  </section>